In [1]:
import pandas as pd

In [2]:
t1 = pd.read_csv('/content/EducationData20152016MetricOnly.csv')
t2 = pd.read_csv('/content/EducationData20172018MetricOnly.csv')

In [3]:
time_series = pd.concat([t1,t2], ignore_index=True)
time_series

,year,leaid,lea_name,state_location,city_location,agency_type,enrollment,county_code,county_name,est_population_5_17,est_population_5_17_poverty,read_test_pct_prof_midpt,math_test_pct_prof_midpt,grad_rate_midpt
0,2016,1743200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202.0,22.0,NaN,NaN,NaN
1,2016,1743170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,309.0,41.0,NaN,NaN,NaN
2,2016,1741370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,164.0,25.0,NaN,NaN,NaN
3,2016,1706630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,308.0,51.0,NaN,NaN,NaN
4,2016,200050,Alaska Gateway School District,AK,Tok,Regular local school district,379,2240.0,Southeast Fairbanks Census Area,412.0,83.0,17,12,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24325,2017,2314010,Woodland Public Schools,ME,Woodland,Regular local school district,144.0,23003.0,Aroostook County,153.0,32.0,37,32,NaN
24326,2017,2314040,Woodville Public Schools,ME,East Millinocket,Regular local school district,0.0,23019.0,Penobscot County,43.0,7.0,24.5,24.5,NaN
24327,2017,2314100,Yarmouth Schools,ME,Yarmouth,Regular local school district,1629.0,23005.0,Cumberland County,1444.0,58.0,77,70,97
24328,2017,2314130,York Public Schools,ME,York,Regular local school district,1734.0,23031.0,York County,1898.0,70.0,72,58,97
24329,2017,1602610,PLEASANT VALLEY ELEMENTARY DISTRICT,OR,JORDAN VALLEY,Regular local school district,10.0,16073.0,Owyhee County,10.0,2.0,Suppressed data,Suppressed data,NaN

In [4]:
times_series = time_series.drop(['leaid', 'city_location', 'agency_type', 'county_code', ], axis=1)
times_series

,year,lea_name,state_location,enrollment,county_name,est_population_5_17,est_population_5_17_poverty,read_test_pct_prof_midpt,math_test_pct_prof_midpt,grad_rate_midpt
0,2016,NaN,NaN,NaN,NaN,202.0,22.0,NaN,NaN,NaN
1,2016,NaN,NaN,NaN,NaN,309.0,41.0,NaN,NaN,NaN
2,2016,NaN,NaN,NaN,NaN,164.0,25.0,NaN,NaN,NaN
3,2016,NaN,NaN,NaN,NaN,308.0,51.0,NaN,NaN,NaN
4,2016,Alaska Gateway School District,AK,379,Southeast Fairbanks Census Area,412.0,83.0,17,12,30
...,...,...,...,...,...,...,...,...,...,...
24325,2017,Woodland Public Schools,ME,144.0,Aroostook County,153.0,32.0,37,32,NaN
24326,2017,Woodville Public Schools,ME,0.0,Penobscot County,43.0,7.0,24.5,24.5,NaN
24327,2017,Yarmouth Schools,ME,1629.0,Cumberland County,1444.0,58.0,77,70,97
24328,2017,York Public Schools,ME,1734.0,York County,1898.0,70.0,72,58,97
24329,2017,PLEASANT VALLEY ELEMENTARY DISTRICT,OR,10.0,Owyhee County,10.0,2.0,Suppressed data,Suppressed data,NaN

In [5]:
time_series = time_series.dropna()

for col in time_series.columns:
  time_series = time_series[time_series[col] != 'Missing/not reported']

for col in time_series.columns:
  time_series = time_series[time_series[col] != 'Suppressed data']

for col in time_series.columns:
  time_series = time_series[time_series[col] != 'Not applicable']

time_series

,year,leaid,lea_name,state_location,city_location,agency_type,enrollment,county_code,county_name,est_population_5_17,est_population_5_17_poverty,read_test_pct_prof_midpt,math_test_pct_prof_midpt,grad_rate_midpt
4,2016,200050,Alaska Gateway School District,AK,Tok,Regular local school district,379,2240.0,Southeast Fairbanks Census Area,412.0,83.0,17,12,30
6,2016,200007,Aleutians East Borough School District,AK,Sand Point,Regular local school district,239,2013.0,Aleutians East Borough,213.0,24.0,42,27,90
7,2016,200180,Anchorage School District,AK,Anchorage,Regular local school district,48238,2020.0,Anchorage Municipality,52309.0,4634.0,40,35,81
8,2016,200525,Annette Island School District,AK,Metlakatla,Regular local school district,315,2198.0,Prince of Wales-Hyder Census Area,292.0,55.0,27,17,75
9,2016,200020,Bering Strait School District,AK,Unalakleet,Regular local school district,1970,2180.0,Nome Census Area,1690.0,546.0,6,7,87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24321,2017,2313860,Winslow Schools,ME,Waterville,Regular local school district,1182.0,23011.0,Kennebec County,1239.0,183.0,49,31,87
24323,2017,2313970,Winthrop Public Schools,ME,Winthrop,Regular local school district,891.0,23011.0,Kennebec County,854.0,87.0,56,42,84
24324,2017,2313980,Wiscasset Public Schools,ME,Wiscasset,Regular local school district,518.0,23015.0,Lincoln County,472.0,72.0,37,17,84
24327,2017,2314100,Yarmouth Schools,ME,Yarmouth,Regular local school district,1629.0,23005.0,Cumberland County,1444.0,58.0,77,70,97
24328,2017,2314130,York Public Schools,ME,York,Regular local school district,1734.0,23031.0,York County,1898.0,70.0,72,58,97

In [6]:
import numpy as np
time_series['District Student Performance Metric'] = 0.3 * np.array(time_series['read_test_pct_prof_midpt']).astype(np.float) + 0.3 * np.array(time_series['math_test_pct_prof_midpt']).astype(np.float) + 0.4 * np.array(time_series['grad_rate_midpt']).astype(np.float)
time_series

<ipython-input-6-5cf7ccdee678>:2: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  time_series['District Student Performance Metric'] = 0.3 * np.array(time_series['read_test_pct_prof_midpt']).astype(np.float) + 0.3 * np.array(time_series['math_test_pct_prof_midpt']).astype(np.float) + 0.4 * np.array(time_series['grad_rate_midpt']).astype(np.float)

,year,leaid,lea_name,state_location,city_location,agency_type,enrollment,county_code,county_name,est_population_5_17,est_population_5_17_poverty,read_test_pct_prof_midpt,math_test_pct_prof_midpt,grad_rate_midpt,District Student Performance Metric
4,2016,200050,Alaska Gateway School District,AK,Tok,Regular local school district,379,2240.0,Southeast Fairbanks Census Area,412.0,83.0,17,12,30,20.7
6,2016,200007,Aleutians East Borough School District,AK,Sand Point,Regular local school district,239,2013.0,Aleutians East Borough,213.0,24.0,42,27,90,56.7
7,2016,200180,Anchorage School District,AK,Anchorage,Regular local school district,48238,2020.0,Anchorage Municipality,52309.0,4634.0,40,35,81,54.9
8,2016,200525,Annette Island School District,AK,Metlakatla,Regular local school district,315,2198.0,Prince of Wales-Hyder Census Area,292.0,55.0,27,17,75,43.2
9,2016,200020,Bering Strait School District,AK,Unalakleet,Regular local school district,1970,2180.0,Nome Census Area,1690.0,546.0,6,7,87,38.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24321,2017,2313860,Winslow Schools,ME,Waterville,Regular local school district,1182.0,23011.0,Kennebec County,1239.0,183.0,49,31,87,58.8
24323,2017,2313970,Winthrop Public Schools,ME,Winthrop,Regular local school district,891.0,23011.0,Kennebec County,854.0,87.0,56,42,84,63.0
24324,2017,2313980,Wiscasset Public Schools,ME,Wiscasset,Regular local school district,518.0,23015.0,Lincoln County,472.0,72.0,37,17,84,49.8
24327,2017,2314100,Yarmouth Schools,ME,Yarmouth,Regular local school district,1629.0,23005.0,Cumberland County,1444.0,58.0,77,70,97,82.9
24328,2017,2314130,York Public Schools,ME,York,Regular local school district,1734.0,23031.0,York County,1898.0,70.0,72,58,97,77.8

In [7]:
time_series.to_excel('times_series_data.xlsx')